* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body {
  background-color: rgb(252, 2, 2);
}
.container {
  font-size: 16px;
  background-color: rgb(255, 5, 5);
  box-shadow: 0 1.2em 2.4em rgb(251, 3, 3);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.6em;
  width: 90vw;
  max-width: 34em;
}
#options-container {
  text-align: center;
}
#options-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}
#options-container button {
  padding: 0.6em 1.2em;
  border: 3px solid black;
  background-color: aliceblue;
  color: black;
  border-radius: 0.3em;
  text-transform: capitalize;
  cursor: pointer;
}
#options-container button.disabled {
  border: 3px solid white;
  color: darkgrey;
  background-color: azure;
}
#options-container button.active {
  background-color: rgb(227, 93, 26);
  border: 3px solid black;
  color: aliceblue;
}
.letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}
#letter-container button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  background-color: antiquewhite;
  cursor: pointer;
}
.new-game-popup {
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}
#user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}
canvas {
  display: block;
  margin: auto;
  border: 0px solid #f82500;
  border-radius: 10px;
}
.hide {
  display: none;
}
#result-text h2 {
  font-size: 1.8em;
  text-align: center;
}
#result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}
#result-text span {
  font-weight: 600;
}
#new-game-button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #8c52ff;
  border: 3px solid black;
  color: aliceblue;
  border-radius: 0.2em;
  cursor: pointer;
}
.win-msg {
  color: aqua;
}
.los-msg {
  color: rgb(206, 49, 10);
}
